.full_height {
  height: 100vh;
}

.app_editor_wrapper {
  display: flex;
  flex-direction: row;
}

.app_editor_wrapper .sidebar_wrapper {
  min-width: 200px;
}

.app_editor_wrapper .monaco_editors_wrapper {
  width: 100%;
}